<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Portfolio</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<h1>&nbsp;</h1>
	
</div>
<div id="menu">
	<ul>
        <img src="images/headshot.png" alt="" width = "78%" height = "78%"/>
		<li><a href="index.html">Home</a></li>
		<li><a href="projects.html">Projects</a></li>
		<li><a href="research.html">Research</a></li>
	</ul>
</div>
<div id="content">
	<div id="left">
		<h2>Projects</h2>
        <h3>A couple of the side projects I work on in my free time.</h3>
		<h1>&nbsp;</h1>
        
        
        <h2>YouCoin</h2>
        <p1>Developed at HopHacks Spring 2016, YouCoin is program that allows YouTube creators to automatically donate a set amount of bitcoins to charity based upon how many viewers are active on their channel.</p1>
        <p> &nbsp;</p>
        
        <p1><a href="http://linhchinguyen.me/YouCoin/"> More Information</a></p1>
		
		
	</div>
	
</div>
