click==6.6
Flask==0.11.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
Flask-SQLAlchemy==2.0
Flask-WTF==0.10.3
PyMySQL==0.6.3
SQLAlchemy==0.9.8
WTForms==2.0.1
argparse==1.2.1
distribute==0.6.24
wsgiref==0.1.2
boto==2.28.0
