body {
  text-align: center;
  font-family: Arial;
}

img {
  width: 200px;
  border-radius: 150px;
}

a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.icon {
    padding-right: 5px;
    padding-left: 5px;
}