body { 
    padding-top: 4em;
    font-family: Arial, "Helvetica Neue" , Helvetica, sans-serif;
    padding-left: 15%;
    padding-right: 15%;

}

/* Note this messes with .navbar-right*/
.navbar-collapse {
  text-align: center;
}

#homepage-list li {
 margin: 0px 0;   
}

#homepage-list li {
 margin: 0px 0;   
}