
/** BASIC */

body {
	margin: 0em;
	padding: 0em;
	font-family: "Courier New", Courier, monospace;
}

imageavatar48 {
			width: 48px;
			height: 48px;
			
		}

h1, h2, h3, h4, h5, h6 {
	margin: 0em;
	padding: 0em;
}

p, ol, ul {
	font-size: .8em;
}

ul {
	list-style-type: circle;
}

/** HEADER */

#header {
	margin: 0em 0em 1em 0em; 
	padding: 0em 1em;
	background-color: #CCCCCC;
}

#header h1 {
	margin: 0em;
	padding: 0em;
	color: #FFFFFF;
}

#header h2 {
	margin: 0em;
	padding: 0em;
	font-size: 1em;
	color: #FFFFFF;
}

/** MENU */

#menu {
	float: left;
	width: 15%;
	padding: 1em;
}

#menu ul {
	margin: 0em;
	padding: 0em;
	list-style: none;
	text-align: center;
	line-height: 3em;
}

#menu li {
}

#menu a {
}

/** CONTENT */

#content {
	float: left;
	width: 70%;
}

/** FOOTER */

#footer {
	clear: both;
	padding: 0em 1em;
	background-color: #CCCCCC;
}

#footer p {
	margin: 0em;
	padding: 0em;
	font-weight: bold;
	color: #FFFFFF;
}

ul li{
 font-size:15px;
}

a {
    text-decoration: none;
    position: relative;
    color: #000000;
    background-color: #FFFFFF

}
a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #000000;
background-color: #000000;
	color: #FFFFFF;
  transition: 0.4s;

}

a:hover:after {
    width: 100%;
    
}

/* use this for previous background transition
a {
	color: #000000;
}

a:hover {
	text-decoration: none;
	background-color: #000000;
	color: #FFFFFF;
}

*/

