{% extends "head.html" %}
{% block content %}

        <h2>Greetings, </h2>
                <h2>&nbsp;</h2>
<p1>I am currently busy with the following:
    <ul>
        <li>Finishing my undergraduate degree in Computer Science (expected May 2017)</li>
        <li>Collaborating on a reinforcement learning research project in the MAPLE lab</li>
        <li>Mentoring students in K-12 (High school students look below). </li>    
    </ul>
</p1>

<p1>If you are in High School and are looking for a summer opportunity check out <a href="https://github.com/JustinChavez" >this repository.</a></p1>




            

    <p1>Computer Science BS, Biological Sciences Minor.</p1>
    <p1><a href="http://www.umbc.edu/">University of Maryland, Baltimore County</a> graduating May 2017.        <br><br> </p1>
                <p1>Contact: juscha1@umbc.edu<br><br></p1>
                <p1>Other Links:<br>
                <ul1>

                    <li><a href="https://github.com/JustinChavez">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/justinlchavez">LinkedIn</a></li>
                    <li><a href="https://www.quora.com/profile/Justin-Chavez-2">Quora</a></li>
                    <li><a href="https://twitter.com/jus10chavez">Twitter</a></li>
                    
                    </ul1>	
                    
<p1>Updated: 13/02/2017</p1>

{% endblock %}
