{% extends "head.html" %}
{% block content %}


        <h2>Home </h2>
                <h2>&nbsp;</h2>

<h3> Now with 9.13 times less load time!!! (Thanks to AWS Elastic Beanstalk) </h3>
<h2>&nbsp;</h2>

<p1>I am currently busy with the following:
    <ul>
    <ul1>
        <li>Finishing my undergraduate degree in Computer Science (expected May 2017)</li>
        <li>Mentoring students in K-12 (High school students look below). </li>    
    </ul1>
    </ul>
</p1>

<p1>If you are in High School and are looking for a summer opportunity check out <a href="https://github.com/JustinChavez" >this repository.</a></p1><br><br>




            

    <p1>Computer Science BS, Biological Sciences Minor.</p1>
    <p1><a href="http://www.umbc.edu/">University of Maryland, Baltimore County</a> graduating May 2017.        <br><br> </p1>

                <p1><a href="https://drive.google.com/file/d/0B8giwrtqyuhIdVV6NHFxX0gtSEE/view?usp=sharing">Resume</a></p1><br>

                <p1>Contact: juscha1@umbc.edu
                </p1>
                <br><br>



                <p1>Other Links:<br>
                <ul>
                <ul1>

                    <li><a href="https://github.com/JustinChavez">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/justinlchavez">LinkedIn</a></li>
                    <li><a href="https://www.quora.com/profile/Justin-Chavez-2">Quora</a></li>
                    <li><a href="https://twitter.com/jus10chavez">Twitter</a></li>
                    
                    </ul1>
                    </ul><br><br>	
                    
                    
<p2>Updated: March 22, 2017</p2>
         
{% endblock %}
