{% extends "head.html" %}
{% block content %}


        <h2>Home </h2>

            
    <p1>Computer Science BS, Biological Sciences Minor. <a href="http://www.umbc.edu/">University of Maryland, Baltimore County</a> graduated May 2017. 
    <br><br>
    Currently working in the <a href="http://www.med.upenn.edu/goldlab/">Gold Lab</a> at the University of Pennsylvania on uncovering the neural correlates of decision making. I actively particpate and mentor at hackathons in my free time.        <br><br> </p1>

    <p1>I will be teaching a workshop at HackPrinceton Fall 2017 on building Amazon Alexa skills! Please join me November 10th or lookout for summary of the workshop in my tutorials.</p1>
    <br><br>


                <p1>Contact: juscha1 [at] umbc [dot] edu
                </p1>
                <br><br>



                <p1>Other Links:<br>
                <ul>
                <ul1>
<div id="homepage-list">
                    <li><a href="https://github.com/JustinChavez">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/justinlchavez">LinkedIn</a></li>
                    <li><a href="https://www.quora.com/profile/Justin-Chavez-2">Quora</a></li>
                    <li><a href="https://twitter.com/jus10chavez">Twitter</a></li>
  </div>                  
                    </ul1>
                    </ul><br><br>	
          
<p2>Updated: November 7, 2017</p2>
                    
<!-- Google Analytics script-->                    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96974690-1', 'auto');
  ga('send', 'pageview');
</script>         
{% endblock %}
