{% extends "head.html" %}
{% block content %}

<h2>Projects</h2>
        <h3>A couple of the side projects I work on in my free time.</h3>
		<h1>&nbsp;</h1>
        

        <h2>HackerPack</h2>

        <p1><b>March 2016 to Present</b><br></p1>
<p1>HackerPack is an organization that creates software products to increase inclusivity in hackathons. I co-founded the organization along with <a href="http://linhchinguyen.com/">Linhchi Nguyen</a>. </p1>
<p1>
    Highlights:
    <ul>
        <li>Raised $20,000 in seed funding from <a href="http://kellercenter.princeton.edu/elab"> Keller Center's eLab accelerator</a> in Summer 2016</li>
        <li>Led a team of 6 people in business, design, and engineering on finishing <a href="http://hackmates.io/">Hackmates</a>, a web application built with Django that helps people form teams for hackathons. </li>
        <li>Currently preparing the application for open source adoption. </li>
    </ul>
</p1>
        <p1><a href="http://hackerpack.io/"> More Information</a></p1>     
<p> &nbsp;</p>


        <h2>UMBC Student Government Association (SGA) iTracker</h2>
        <p1><b>November 2014 to Present</b><br></p1>
<p1>The iTracker SGA members organize their initiatives and brings more transparency to the organization.</p1>
<p1>
    Highlights:
    <ul>
        <li>Oversaw planning and development of a prototyped initiative tracker during <a href="http://devpost.com/software/sga-initiative-tracker">HackUMBC 2014</a></li>
        <li>Raised $1,400 in funding to develop the application</li>
        <li>Currently developing the website with a software engineering team of 6 to improve the application during Fall 2016</li>
    </ul>
</p1>
        <p1><a href="http://apps.sga.umbc.edu/itracker/"> More Information</a></p1>     
<p> &nbsp;</p>

        <h2>YouCoin</h2>
        <p1><b>February 2016</b><br></p1>
        <p1>Developed at HopHacks Spring 2016, YouCoin is program that allows YouTube creators to automatically donate a set amount of bitcoins to charity based upon how many viewers are active on their channel.</p1>
        <p>&nbsp;</p>
        <p1><a href="http://linhchinguyen.me/YouCoin/"> More Information</a></p1>
		 <p> &nbsp;</p>




{% endblock %}


