{% extends "head.html" %}
{% block content %}

		<h2>Research</h2>
        <h3>Academic research projects I contribute to.</h3>
        <h2>&nbsp;</h2>

	<h2>Broad Institute of MIT and Harvard </h2>
        <p1>Summer 2015</p1>
        <p1>Advisor: <a href="http://www.hhmi.org/scientists/aviv-regev">Dr. Aviv Regev</a>  <br></p1>
<p1>Nine week summer research internship within the Regev Lab, a large biomedical research group</p1>
<p1>
    <ul>
        <li>Parsed 980 breast cancer patient samples through Python NumPy arrays and utilized matplotlib to display</li>
        <li>Designed with Autodesk and 3-D printed a holder for a homemade Arduino spectrophotometer
</li>
    </ul>
</p1>
<p1><a href="https://www.broadinstitute.org/partnerships/education/diversity-initiatives/srpg/justin-ch%C3%A1vez"> More Information</a></p1> 

<p> &nbsp;</p>

		<h2>University of Maryland, School of Medicine</h2>
        <p1>Summer 2014</p1>
        <p1>Advisor: <a href="http://www.hopkinsmedicine.org/profiles/results/directory/profile/10003217/casey-overby">Dr. Casey Overby</a>  <br></p1>
<p1>Initiated a project to program and implement a system for returning aggregate results to Biobank participants.</p1>
<p1>
    <ul>
        <li>Condensed 112 pages of research publications into an annotated bibliography and spreadsheet highlighting relevant information for the Biobank project</li>
        <li>Created and administered a 43-question survey for feedback about a Hospital startup project</li>
        <li>Presented final research results in 3 oral settings and 2 poster forms</li>
    </ul>
</p1>

{% endblock %}
		