{% extends "head.html" %}
{% block content %}

<h2>Tutorials</h2>
        <h3>Most come from hackathon experience or my various side projects.</h3>
		<h1>&nbsp;</h1>
        
        <br><br>

        <h2>Alex Skill Tutorial with Python</h2>

        <p1><b>January 2017</b><br></p1>
<p1>In this tutorial I will be teaching how to make a Yes/No Framework as an Amazon Alexa skill. </p1>
<p1>
    Skills:
    <ul>
        <li>Python</li>
        <li>Finite State Automata </li>
    </ul>
</p1>
        <p1><a href="https://github.com/JustinChavez/Flask-Ask-HW/blob/master/tutorial/tutorial.md"> Click Here!</a></p1>     
<p> &nbsp;</p>


        <h2>Clarifai API Demo</h2>
        <p1><b>November 2016</b><br></p1>
<p1>Clarifai is an easy to use API that lets you apply computer vision through an API. Tutorial from a Technical Demo I gave at HackPrinceton 2016. </p1>
<p1>
    Skills:
    <ul>
        <li>Python</li>
        <li>Clarifai API</li>
    </ul>
</p1>
        <p1><a href="https://github.com/JustinChavez/Clarifai_API_Demo"> Click Here!</a></p1>     
<p> &nbsp;</p>

        <h2>YouCoin</h2>
        <p1><b>February 2016</b><br></p1>
        <p1>Developed at HopHacks Spring 2016, YouCoin is program that allows YouTube creators to automatically donate a set amount of bitcoins to charity based upon how many viewers are active on their channel.</p1>
        <p>&nbsp;</p>
        <p1><a href="http://linhchinguyen.me/YouCoin/"> More Information</a></p1>
		 <p> &nbsp;</p>




{% endblock %}