{% extends "head.html" %}
{% block content %}

<h2>Tutorials</h2>

<h2><a href="/first-hackathon-project#disqus_thread">Your First Hackathon Project: How to Build a Personal Website</a></h2>

        <p1><b>April 2017</b><br></p1>
<p1>Quick guide to building and hosting your first website for free. </p1>

<p> &nbsp;</p>

<h2><a href="https://github.com/JustinChavez/Flask-Ask-HW/blob/master/tutorial/tutorial.md">Alex Skill Tutorial with Python</a></h2>

        <p1><b>January 2017</b><br></p1>
<p1>In this tutorial I will be teaching how to make a Yes/No Framework as an Amazon Alexa skill. </p1>

<p> &nbsp;</p>


<h2><a href="https://github.com/JustinChavez/Clarifai_API_Demo">Clarifai Python API Demo</a></h2>
        <p1><b>November 2016</b><br></p1>
<p1>Clarifai lets you apply computer vision through an easy to use API. Tutorial from a Technical Demo I gave at HackPrinceton 2016. </p1>

           
<p> &nbsp;</p>

<h2><a href="http://linhchinguyen.me/YouCoin/">YouCoin</a></h2>
        <p1><b>February 2016</b><br></p1>
        <p1>Developed at HopHacks Spring 2016, YouCoin is program that allows YouTube creators to automatically donate a set amount of bitcoins to charity based upon how many viewers are active on their channel.</p1>
        <p>&nbsp;</p>
		 <p> &nbsp;</p>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96974690-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock %}